{% import '_macros' as siteMacros %}
    
<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>

        <!-- I.E. Compatibility Mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- I.E. Custom Properties Polyfill -->
        <script>
            window.MSInputMethodContext && document.documentMode && document.write(
                '<script src="https://cdn.jsdelivr.net/npm/ie11-custom-properties@3.0.6/ie11CustomProperties.min.js"><\x2fscript>'
            );
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Home • Staten Island General Services</title>
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

        
        <link rel="stylesheet" href="/lib/css/leaflet.css" />

        <!-- Font Awesome Kit -->
        <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/d0e9d4ccb2.js" crossorigin="anonymous"></script>

        <!-- NYC Core Stylesheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/CityOfNewYork/nyc-core-framework@new-version/dist/css/nyc_core.css">
        
        <link rel="stylesheet" href="/dist/css/custom-theme.css">

    </head>

    <body>

        <!-- For keyboard users -->
        <a class="screen-reader-only focusable-only" href="#skip-header-target">Skip Header</a>

        <header class="primary-nav--across--lg box-shadow-1 text-primary" id="global-header" style="position: relative; z-index: 35000;">
            
            <div class="primary-nav__logo">
                <a href="/" title="Home" data-logo="brand">
        
                    <!-- Placeholder logo, replace the following <svg> tag with your own image version -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="240" height="60" viewBox="0 0 240 60">
                        <g>
                            <g>
                            <path d="M32.9367.001a30.0745,30.0745,0,0,1,24.27,42.5734Z" fill="#975c99"/>
                            <path d="M5.6567,47.4663h48.69a29.9147,29.9147,0,0,1-48.69,0Z" fill="#e07a5f"/>
                            <polygon points="29.997 4.943 51.387 42.454 8.617 42.454 29.997 4.943" fill="#1f4fae"/>
                            <path d="M-.0033,29.9237A30.0855,30.0855,0,0,1,27.0567.001L2.7867,42.5744A30.0562,30.0562,0,0,1-.0033,29.9237Z" fill="#00a896"/>
                            </g>
                            <g>
                            <g>
                                <path d="M69.2014,27.1736a9.3473,9.3473,0,0,0,7.1517,3.3349c4.71,0,6.0518-2.6129,6.0518-4.5733,0-3.2317-3.0947-4.1267-6.2928-4.9856-3.61-.9966-7.4615-2.0293-7.4615-6.2575,0-3.748,3.37-6.1207,7.53-6.1207a9.8969,9.8969,0,0,1,7.77,3.2325L82.6451,13.248A8.2114,8.2114,0,0,0,76.0777,10.36c-3.0595,0-5.3633,1.7531-5.3633,4.2282,0,2.7169,2.8529,3.5078,5.9829,4.3676,3.6792,1.031,7.77,2.2,7.77,6.8763,0,2.9235-1.96,6.4649-8.1491,6.4649a10.5471,10.5471,0,0,1-8.39-3.6455Z" fill="#1f4fae"/>
                                <path d="M88.3107,28.6865V16.8918H85.56V15.2765h2.7506V10.7376h1.8227v4.5389h3.3693v1.6153H90.1334V28.4111c0,1.3409.55,2.2686,1.72,2.2686a2.5908,2.5908,0,0,0,1.8564-.7909l.6885,1.3761a3.7339,3.7339,0,0,1-2.8194,1.0319C89.377,32.2968,88.3107,30.9551,88.3107,28.6865Z" fill="#1f4fae"/>
                                <path d="M107.2453,29.9241a7.2364,7.2364,0,0,1-5.64,2.3727,5.5614,5.5614,0,0,1-5.8108-5.5363c0-3.61,2.9226-5.4675,5.8108-5.4675a7.2062,7.2062,0,0,1,5.64,2.3383V20.262c0-2.4416-1.9949-3.8168-4.47-3.8168a6.4593,6.4593,0,0,0-5.1921,2.4415l-.9974-1.2039a7.9652,7.9652,0,0,1,6.3608-2.8194c3.4037,0,6.0862,1.6162,6.0862,5.33V31.8837h-1.7875Zm0-4.952a6.2375,6.2375,0,0,0-5.0208-2.3038c-2.7505,0-4.5389,1.7883-4.5389,4.1266s1.7884,4.0914,4.5389,4.0914a6.2084,6.2084,0,0,0,5.0208-2.2686Z" fill="#1f4fae"/>
                                <path d="M114.0309,28.6865V16.8918H111.28V15.2765h2.7505V10.7376h1.8228v4.5389h3.3693v1.6153h-3.3693V28.4111c0,1.3409.55,2.2686,1.7195,2.2686a2.591,2.591,0,0,0,1.8564-.7909l.6884,1.3761a3.7336,3.7336,0,0,1-2.8193,1.0319C115.0972,32.2968,114.0309,30.9551,114.0309,28.6865Z" fill="#1f4fae"/>
                                <path d="M128.6181,14.8634c5.0544,0,7.84,4.0233,7.84,8.8023v.482H122.5671c.1722,3.61,2.5784,6.6009,6.4641,6.6009a7.3744,7.3744,0,0,0,5.4675-2.3039l.9286,1.17a8.5669,8.5669,0,0,1-6.4994,2.6825c-4.8478,0-8.3212-3.61-8.3212-8.7335C120.6067,18.749,124.0112,14.8634,128.6181,14.8634Zm-6.051,7.8737h12.0693c-.0353-2.8193-1.8916-6.3263-6.0519-6.3263C124.6645,16.4108,122.704,19.8489,122.5671,22.7371Z" fill="#1f4fae"/>
                                <path d="M151.1051,20.6751c0-3.2325-1.6162-4.1955-4.0225-4.1955a7.217,7.217,0,0,0-5.3986,2.8538v12.55h-1.7884V15.2765h1.7884v2.51a8.4169,8.4169,0,0,1,5.9829-2.9226c3.3693,0,5.2257,1.6506,5.2257,5.3986V31.8837h-1.7875Z" fill="#1f4fae"/>
                                <path d="M163.7143,8.9493h1.96V31.8837h-1.96Z" fill="#1f4fae"/>
                                <path d="M170.1414,28.3423a6.8647,6.8647,0,0,0,5.3642,2.4415c2.785,0,4.4356-1.3752,4.4356-3.3013,0-2.1317-2.2694-2.7505-4.6765-3.37-2.7506-.6868-5.8109-1.4088-5.8109-4.6413,0-2.544,2.1317-4.6077,5.9141-4.6077a7.5344,7.5344,0,0,1,5.9486,2.476l-.9975,1.2375a6.0493,6.0493,0,0,0-4.9511-2.2006c-2.5784,0-4.16,1.2729-4.16,2.9915,0,1.8916,2.1318,2.4072,4.4356,2.9915,2.8538.7221,6.051,1.513,6.051,5.0544,0,2.6817-2.0973,4.8831-6.2231,4.8831a8.0424,8.0424,0,0,1-6.3952-2.6137Z" fill="#1f4fae"/>
                                <path d="M185.27,8.9493h1.7883V31.8837H185.27Z" fill="#1f4fae"/>
                                <path d="M201.8715,29.9241a7.235,7.235,0,0,1-5.6395,2.3727,5.5615,5.5615,0,0,1-5.8109-5.5363c0-3.61,2.9226-5.4675,5.8109-5.4675a7.2049,7.2049,0,0,1,5.6395,2.3383V20.262c0-2.4415-1.994-3.8168-4.47-3.8168a6.46,6.46,0,0,0-5.1921,2.4415l-.9974-1.2039a7.9657,7.9657,0,0,1,6.3616-2.8194c3.4038,0,6.0855,1.6162,6.0855,5.33V31.8837h-1.7876Zm0-4.952a6.2368,6.2368,0,0,0-5.02-2.3038c-2.7514,0-4.5389,1.7883-4.5389,4.1266s1.7875,4.0914,4.5389,4.0914a6.2077,6.2077,0,0,0,5.02-2.2686Z" fill="#1f4fae"/>
                                <path d="M219.2722,20.6751c0-3.2325-1.6162-4.1955-4.0233-4.1955a7.2153,7.2153,0,0,0-5.3978,2.8538v12.55h-1.7883V15.2765h1.7883v2.51a8.4172,8.4172,0,0,1,5.983-2.9226c3.3693,0,5.2256,1.6506,5.2256,5.3986V31.8837h-1.7875Z" fill="#1f4fae"/>
                                <path d="M237.76,29.2356a7.0765,7.0765,0,0,1-5.7773,3.0612c-4.4011,0-7.4262-3.37-7.4262-8.7,0-5.2609,3.0251-8.7335,7.4262-8.7335a7.1,7.1,0,0,1,5.7773,3.0947V8.9493h1.8219V31.8837H237.76Zm0-9.73a6.6338,6.6338,0,0,0-5.4675-3.0259c-3.6791,0-5.8108,3.0948-5.8108,7.1173s2.1317,7.0828,5.8108,7.0828a6.6626,6.6626,0,0,0,5.4675-2.957Z" fill="#1f4fae"/>
                            </g>
                            <g>
                                <path d="M68.19,45.4955a5.799,5.799,0,0,1,6.0871-5.9146A5.3476,5.3476,0,0,1,79.01,42.1356L76.9863,43.233a3.2393,3.2393,0,0,0-2.71-1.4925,3.76,3.76,0,0,0,0,7.5109,3.858,3.858,0,0,0,2.435-.8747V47.0056H73.6942V44.88h5.4526V49.269a6.35,6.35,0,0,1-4.87,2.16A5.8237,5.8237,0,0,1,68.19,45.4955Z" fill="#1f4fae"/>
                                <path d="M81.9526,51.2059V39.7693h8.0926v2.1436H84.3876V44.33h5.5379v2.1428H84.3876v2.59h5.6576v2.1428Z" fill="#1f4fae"/>
                                <path d="M100.7679,51.2059l-5.4526-7.4581v7.4581H92.8811V39.7693h2.5028l5.2986,7.1844V39.7693h2.4341V51.2059Z" fill="#1f4fae"/>
                                <path d="M106.2087,51.2059V39.7693h8.0935v2.1436h-5.6585V44.33h5.5388v2.1428h-5.5388v2.59h5.6585v2.1428Z" fill="#1f4fae"/>
                                <path d="M123.601,51.2059l-2.2458-4.0639h-1.7829v4.0639h-2.435V39.7693h5.35a3.5619,3.5619,0,0,1,3.8412,3.6863,3.2826,3.2826,0,0,1-2.5036,3.3951l2.5723,4.3552Zm.2411-7.75a1.5532,1.5532,0,0,0-1.7151-1.5427h-2.5547v3.0854h2.5547A1.5532,1.5532,0,0,0,123.8421,43.4556Z" fill="#1f4fae"/>
                                <path d="M137.0759,51.2059l-.7031-1.9369h-4.9035l-.72,1.9369h-2.7781l4.4238-11.4366h3.0519l4.4071,11.4366Zm-3.1549-9.0017-1.7829,4.92h3.5667Z" fill="#1f4fae"/>
                                <path d="M141.673,51.2059V39.7693h2.435v9.2938h4.8356v2.1428Z" fill="#1f4fae"/>
                                <path d="M155.7648,49.5938l1.32-1.8516a5.014,5.014,0,0,0,3.6353,1.5435c1.3377,0,1.99-.6177,1.99-1.269,0-2.0231-6.5842-.6344-6.5842-4.9386,0-1.9034,1.6456-3.48,4.3376-3.48a6.3646,6.3646,0,0,1,4.4581,1.5945L163.567,42.976a4.9154,4.9154,0,0,0-3.3265-1.2522c-1.0463,0-1.6289.4629-1.6289,1.1484,0,1.8181,6.5667.601,6.5667,4.87,0,2.0918-1.4916,3.67-4.5779,3.67A6.5184,6.5184,0,0,1,155.7648,49.5938Z" fill="#1f4fae"/>
                                <path d="M167.6208,51.2059V39.7693h8.0935v2.1436h-5.6585V44.33h5.538v2.1428h-5.538v2.59h5.6585v2.1428Z" fill="#1f4fae"/>
                                <path d="M185.014,51.2059l-2.2467-4.0639h-1.7829v4.0639h-2.435V39.7693h5.35a3.5619,3.5619,0,0,1,3.8412,3.6863,3.2826,3.2826,0,0,1-2.5036,3.3951l2.5723,4.3552Zm.2393-7.75a1.552,1.552,0,0,0-1.7142-1.5427h-2.5547v3.0854h2.5547A1.552,1.552,0,0,0,185.2533,43.4556Z" fill="#1f4fae"/>
                                <path d="M193.26,51.2059l-4.4239-11.4366h2.7774l3.1724,8.7965,3.1549-8.7965h2.7773l-4.4062,11.4366Z" fill="#1f4fae"/>
                                <path d="M202.5385,51.2059V39.7693h2.435V51.2059Z" fill="#1f4fae"/>
                                <path d="M207.4453,45.4955a5.8114,5.8114,0,0,1,6.0871-5.9146,5.2358,5.2358,0,0,1,4.7846,2.7941l-2.0927,1.03a3.0992,3.0992,0,0,0-2.6919-1.6641,3.76,3.76,0,0,0,0,7.5109,3.0664,3.0664,0,0,0,2.6919-1.6632l2.0927,1.0111a5.269,5.269,0,0,1-4.7846,2.8125A5.8118,5.8118,0,0,1,207.4453,45.4955Z" fill="#1f4fae"/>
                                <path d="M220.5109,51.2059V39.7693h8.0935v2.1436h-5.6585V44.33h5.5379v2.1428h-5.5379v2.59h5.6585v2.1428Z" fill="#1f4fae"/>
                                <path d="M230.5865,49.5938l1.32-1.8516a5.0155,5.0155,0,0,0,3.6354,1.5435c1.3376,0,1.9888-.6177,1.9888-1.269,0-2.0231-6.5843-.6344-6.5843-4.9386,0-1.9034,1.6465-3.48,4.3385-3.48a6.3646,6.3646,0,0,1,4.4581,1.5945l-1.3543,1.7838a4.9154,4.9154,0,0,0-3.3265-1.2522c-1.0463,0-1.6289.4629-1.6289,1.1484,0,1.8181,6.5667.601,6.5667,4.87,0,2.0918-1.4916,3.67-4.5778,3.67A6.5187,6.5187,0,0,1,230.5865,49.5938Z" fill="#1f4fae"/>
                            </g>
                            </g>
                        </g>
                    </svg>
        
                </a>
            </div>
            
            <nav id="primary-menu" class="primary-nav__menu">
        
                <ul>
                    <li>
                        <a href="/meetings" {{ siteMacros.isActive("meetings") }}>
                            <strong>Meetings</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#1" {{ siteMacros.isActive("events") }}>
                            <strong>Events</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#1" {{ siteMacros.isActive("resources") }}>
                            <strong>Resources</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#1" data-toggle="dropdown" {{ siteMacros.isActive("about") }}>
                          <strong>About</strong>  
                        </a>
                        <ul class="box-shadow-1--lg font-size-md padding-2">
                            <li>
                                <a href="/about">Alcholics Anonymous</a>
                            </li>
                            <li>
                                <a href="#1">Mission Statement</a>
                            </li>
                            <li>
                                <a href="#1">Guidelines</a>
                            </li>
                            <li>
                                <a href="#1">By Laws</a>
                            </li>
                            <li>
                                <a href="#1">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                </ul>
        
            </nav>
            
            <div class="primary-nav__buttons">
                <button class="btn btn--icon-only menu-toggle" title="Menu" data-toggle="collapse" data-target="#primary-menu">
                    <span class="screen-reader-only">Menu</span>
                    <span class="fas fa-bars"></span>
                </button>

                <a class="btn theme-primary rounded font-size-sm" href="#">Find a Meeting</a>
                
                <button class="btn btn--icon-only" title="Language" data-modal-open="global-language">
                    <span class="screen-reader-only">Language</span>
                    <span class="fas fa-language"></span>
                </button>
            </div>

        </header>
        <!-- .primary-nav -->

        <div id="demo">
            
        </div>

        {% block main %}

        {% endblock %}

        <div class="modal text-primary" id="global-language">

            <div class="modal__content medium box-shadow-3 rounded" aria-labelledby="modal-language-title">

                <header class="modal__content__head border-bottom">
                    <h2 class="h5" id="modal-language-title">Website Translation</h2>
                    <button class="btn btn--icon-only" data-modal-close>
                        <span class="screen-reader-only">Close Modal</span>
                        <span class="fas fa-times"></span>
                    </button>
                </header>

                <div class="modal__content__body sans" id="modal-language-content">
                    <div id="google_translate_element"></div>
                </div>

            </div>
            <!-- .modal__content -->

        </div>
        <!-- #global-language -->

        <footer class="theme-primary padding-y-2" id="global-footer" role="contentinfo">

            <h2 class="screen-reader-only">Footer</h2>

            <div class="container font-size-md">

                <div class="grid grid--gap-2 grid--cells-fit--md justify-content-between align-items-center">

                    <div class="grid__cell flex-column flex-row--md justify-content-center align-items-center--md">

                        <div class="wrap">
                            <svg class="current-color" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
                                  <g>
                                    <path d="M18.4443,42.2546l-3.7232-2.1275-.7711,1.35,3.6858,2.1066a1.6775,1.6775,0,1,1-1.6646,2.913l-3.6859-2.1059-.7658,1.34,3.7325,2.1331c1.5262.8726,3.1086.5663,4.1884-1.3233S19.99,43.1377,18.4443,42.2546Z"/>
                                    <polygon points="17.855 34.644 21.755 36.872 16.211 37.52 15.435 38.878 21.643 42.426 22.398 41.105 18.349 38.791 24.089 38.145 24.818 36.87 18.61 33.322 17.855 34.644"/>
                                    <rect x="22.0607" y="29.5819" width="1.5218" height="7.1505" transform="translate(-17.2896 36.5205) rotate(-60.2539)"/>
                                    <polygon points="24.503 25.71 23.34 25.045 20.51 29.997 21.674 30.662 22.71 28.847 27.756 31.729 28.516 30.398 23.471 27.515 24.503 25.71"/>
                                    <polygon points="29.35 23.041 27.039 18.572 26.177 20.08 27.799 23.032 24.422 23.151 23.56 24.659 28.595 24.363 31.136 25.814 31.891 24.493 29.35 23.041"/>
                                    <path d="M68.6542,21.0813c2.3152-1.3236-.3808-4.5075.6048-5.0715.3718-.2123.8036-.04,1.128.5273a3.07,3.07,0,0,1,.3521,2.1921l1.3875.1817a3.9739,3.9739,0,0,0-.5176-2.9119c-.8343-1.46-2.2-1.8635-3.233-1.2737-2.3334,1.3344.461,4.4744-.6363,5.1022-.3536.2019-.89.0394-1.3044-.6854a3.1311,3.1311,0,0,1-.2908-2.45L64.7312,16.55a4.0748,4.0748,0,0,0,.5135,3.1857C66.2009,21.41,67.5194,21.73,68.6542,21.0813Z"/>
                                    <polygon points="69.217 23.731 70.621 22.928 72.339 25.931 73.501 25.267 71.784 22.263 73.095 21.514 74.849 24.582 76.012 23.918 73.502 19.529 67.3 23.075 69.809 27.464 70.971 26.799 69.217 23.731"/>
                                    <path d="M77.5173,31.1926a2.2257,2.2257,0,0,0,.8077-3.2262l-1.6588-2.9011-6.2018,3.5461.754,1.32,2.2042-1.26.5532.9672-1.5074,2.4784.8663,1.5154,1.5647-2.7452A2.0508,2.0508,0,0,0,77.5173,31.1926ZM76.2588,27.05l.7925,1.3854a.97.97,0,1,1-1.6742.9573l-.7917-1.386Z"/>
                                    <polygon points="82.457 35.197 76.708 36.213 80.496 31.766 79.634 30.259 74.803 36.204 75.749 37.859 83.318 36.704 82.457 35.197"/>
                                    <rect x="77.3594" y="38.9694" width="7.1439" height="1.5211" transform="translate(-9.0466 45.4142) rotate(-29.7617)"/>
                                    <path d="M83.4345,46.7527a1.9152,1.9152,0,0,1-1.7362-.9441,2.3484,2.3484,0,0,1,4.073-2.3287,1.9352,1.9352,0,0,1-.0676,1.9754l1.2067.8162a3.2729,3.2729,0,0,0,.0321-3.4616,3.6966,3.6966,0,1,0-6.4153,3.6687,3.2892,3.2892,0,0,0,3.0078,1.7222Z"/>
                                    <polygon points="88.783 46.268 82.581 49.814 85.09 54.203 86.252 53.539 84.498 50.47 85.902 49.667 87.619 52.671 88.781 52.007 87.064 49.003 88.375 48.254 90.129 51.322 91.292 50.658 88.783 46.268"/>
                                    <path d="M26.8251,82.87h1.04l1.3111,2.371h1.6308L29.3066,82.7a1.9155,1.9155,0,0,0,1.4607-1.981,2.0782,2.0782,0,0,0-2.2412-2.1512H25.4042v6.6734h1.4209Zm0-3.0518h1.4907a.9056.9056,0,1,1,0,1.8011H26.8251Z"/>
                                    <polygon points="36.583 83.99 33.281 83.99 33.281 82.48 36.513 82.48 36.513 81.229 33.281 81.229 33.281 79.818 36.583 79.818 36.583 78.568 31.86 78.568 31.86 85.241 36.583 85.241 36.583 83.99"/>
                                    <path d="M40.9309,85.3612a3.0742,3.0742,0,0,0,2.7915-1.6407L42.5017,83.13a1.7892,1.7892,0,0,1-1.5708.9709,2.1937,2.1937,0,0,1,0-4.3826,1.8081,1.8081,0,0,1,1.5708.971l1.2207-.6007a3.0544,3.0544,0,0,0-2.7915-1.6308,3.4533,3.4533,0,1,0,0,6.9037Z"/>
                                    <path d="M47.61,85.3612A3.452,3.452,0,1,0,44.128,81.91,3.3532,3.3532,0,0,0,47.61,85.3612Zm0-5.6432A2.1985,2.1985,0,1,1,45.589,81.91,2.0262,2.0262,0,0,1,47.61,79.718Z"/>
                                    <polygon points="55.463 85.241 58.035 78.568 56.414 78.568 54.573 83.7 52.722 78.568 51.101 78.568 53.683 85.241 55.463 85.241"/>
                                    <polygon points="63.394 83.99 60.092 83.99 60.092 82.48 63.324 82.48 63.324 81.229 60.092 81.229 60.092 79.818 63.394 79.818 63.394 78.568 58.671 78.568 58.671 85.241 63.394 85.241 63.394 83.99"/>
                                    <path d="M66.0442,82.87h1.0407l1.3108,2.371h1.6308L68.5254,82.7a1.9154,1.9154,0,0,0,1.461-1.981,2.0782,2.0782,0,0,0-2.2412-2.1512H64.6233v6.6734h1.4209Zm0-3.0518h1.4907a.9056.9056,0,1,1,0,1.8011H66.0442Z"/>
                                    <polygon points="72.653 85.241 74.074 85.241 74.074 82.51 76.625 78.568 75.005 78.568 73.364 81.249 71.703 78.568 70.082 78.568 72.653 82.51 72.653 85.241"/>
                                    <g>
                                    <path d="M75.1644,55.406a2.0323,2.0323,0,1,0-4.0522,0v7.8189h4.0522Z"/>
                                    <g>
                                        <path d="M65.9836,55.406a2.0323,2.0323,0,1,0-4.0521,0v7.8189h4.0521Z"/>
                                        <path d="M50,0a50,50,0,1,0,50,50A50,50,0,0,0,50,0Zm-.16,31.121a2.8388,2.8388,0,0,1,1.0715.4024.9663.9663,0,0,0,1.2233-.2567,4.64,4.64,0,0,1,2.1236-1.3512,2.6972,2.6972,0,0,1,2.1175.0765c.0678.0371.1147.0407.162.0029a1.5594,1.5594,0,0,1,1.123-.1878,1.934,1.934,0,0,0,1.1164-.5106,2.7146,2.7146,0,0,1,3.515.3587.9209.9209,0,0,0,.2543.2027c.6518.3171.6368.9361.59,1.4954A20.7058,20.7058,0,0,0,63.2382,35a2.7231,2.7231,0,0,0,.486,1.2013c.219.3443.1543.86.6372,1.0519.1008.04.1125.2191.0981.3462-.0626.5479.2693,1.0035.3538,1.5214a1.3183,1.3183,0,0,0,.573.7176c.3142.2407.7078.3892.8377.83.0363.1234.2152.0961.3284.14a.5627.5627,0,0,1,.174,1.0156,1.9207,1.9207,0,0,0-.4995.9084,4.0208,4.0208,0,0,1-1.4262,2.5489,12.6928,12.6928,0,0,0-1.7229,1.9411,21.5308,21.5308,0,0,1-2.5279,2.57,1.6242,1.6242,0,0,0-.4143.5519,8.8471,8.8471,0,0,1-1.4465,1.57,4.3294,4.3294,0,0,0-.7077.9207,3.9576,3.9576,0,0,1-1.2186,1.3216.1833.1833,0,0,0-.0383.0265c-.552.6718-1.3187,1.1242-1.8881,1.742-.6121.6639-1.2159,1.3479-1.8325,2.0146a.761.761,0,0,1-.33.2491c-.9739.2191-1.4375.9981-1.9524,1.74a12.8241,12.8241,0,0,1-1.56,1.7625c-.0525.0519-.1286.1281-.1837.12-.3617-.05-.4986-.3467-.6065-.6387-.0874-.2363-.137-.52.1308-.6715a1.19,1.19,0,0,1,.63-.2633.8159.8159,0,0,0,.756-.3518c.2678-.3528.5861-.6666.8565-1.0176a.9508.9508,0,0,0-.1892-1.1575c-.8385-.5515-.9486-.591-1.8089-.0061-.8517.5792-.7893.4234-.8,1.4747.1685.8408-.5013,1.2875-1.0523,1.768-.2159.1883-.4525.3572-.6691.5552a4.066,4.066,0,0,1-1.0673.705c-.4895.2245-.8855.6547-1.389.9049a12.9774,12.9774,0,0,1-2.3843.9977c-.6847.1855-1.3062.5169-2.0444.6454-.6274.1093-1.1358.8324-1.4282,1.51a3.0538,3.0538,0,0,1-.9259,1.1226.2989.2989,0,0,1-.4544-.0269c-.21-.2243-.39-.4648-.76-.4548a3.0832,3.0832,0,0,0-1.8681.4126,2.96,2.96,0,0,0-.7708.8025A3.3777,3.3777,0,0,1,29.53,69.7641c-.605-.0866-.9646.4327-1.4286.6877a2.4063,2.4063,0,0,0-.4454.404,1.945,1.945,0,0,1-2.164.3138c-.055-.0276-.1363-.0362-.1641-.08a5.5508,5.5508,0,0,1-1.2644-2.45.5437.5437,0,0,1,.0068-.2333c.273-.6882.5549-1.3723.8154-2.0664.23-.6116.9231-.7368,1.3941-1.0994.5269-.4056.5771-.5776.35-1.1858a1.6726,1.6726,0,0,1,.141-1.6408,1.3669,1.3669,0,0,0,.1077-1.3754,16.1072,16.1072,0,0,1-.8375-2.2238c-.2294-1.0125-.3177-1.0393.6056-1.6206a20.5765,20.5765,0,0,0,2.6056-2.15,1.7282,1.7282,0,0,1,1.8358-.2048,1.2529,1.2529,0,0,1,.3447.1352c.5094.3554.8724.0282,1.217-.2767a5.0375,5.0375,0,0,0,.7626-1,.5426.5426,0,0,0-.0407-.6519.8467.8467,0,0,1-.0106-.8564,10.67,10.67,0,0,1,.61-1.6,1.3435,1.3435,0,0,0,.2211-1.1364c-.0664-.2241.0981-.44.1956-.6a1.8382,1.8382,0,0,0,.2444-1.1688,7.12,7.12,0,0,1,.2809-2.1681,1.9931,1.9931,0,0,1,.512-.8567,9.5855,9.5855,0,0,0,.8125-1.1872,1.304,1.304,0,0,0-.4265-1.7409,1.3831,1.3831,0,0,1-.7472-1.3446c.04-.4354.0069-.8771.025-1.3152.02-.48.2392-.602.6378-.3615a.9373.9373,0,0,0,.5851.1.2672.2672,0,0,0,.2793-.2582.3482.3482,0,0,0-.1407-.3709,1.2186,1.2186,0,0,0-.1293-.0509c-.9688-.4423-1.1418-.7761-1.0015-1.8422a8.2183,8.2183,0,0,0,.0562-1.0771,3.9263,3.9263,0,0,1,1.0687-2.6418c.1615-.1857.2985-.3933.4441-.5927a12.9827,12.9827,0,0,1,2.0125-1.86.8778.8778,0,0,1,1.1125-.0258c.2022.1308.38.2163.5945.08a.4668.4668,0,0,1,.7261.24.9542.9542,0,0,0,1.1434.4693.8747.8747,0,0,1,1.0523.45c.0592.117.2034.2835.2954.2754.7737-.0686,1.419.6294,2.2351.3376a15.183,15.183,0,0,0,2.6837-.7949A1.4972,1.4972,0,0,1,49.84,31.121ZM61.9315,64.6859v6.74h-1.461V64.7012H59.0019V63.2249h1.4686V55.406a3.4872,3.4872,0,0,1,6.974,0v16.02H65.9836v-6.74ZM3.5714,50A46.4815,46.4815,0,0,1,47.9291,3.6239L8.9987,71.7524A46.1337,46.1337,0,0,1,3.5714,50ZM50,96.4285A46.4208,46.4208,0,0,1,10.908,75H89.092A46.4208,46.4208,0,0,1,50,96.4285ZM71.1122,64.6859v6.74H69.6513V64.7012H68.1827V63.2249h1.4686V55.406a3.4872,3.4872,0,0,1,6.974,0v16.02H75.1644v-6.74ZM52.0709,3.6239a46.3977,46.3977,0,0,1,38.93,68.1285Z"/>
                                    </g>
                                    </g>
                                </g>
                            </svg>

                        </div>

                        <p class="margin-x-2">
                            © 2020. All rights reserved.<br>
                            Staten Island General Services
                        </p>

                    </div>

                    <div class="grid__cell">
                        <ul class="nav nav--gap-1 nav--horizontal justify-content-center sans">
                            <li>
                                <a href="#1">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#1">Login</a>
                            </li>
                            <li>
                                <a href="#">Back To Top</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- .grid -->

            </div>

        </footer>

        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
        <!-- Google Translate Js -->
        <script>
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en'
                }, 'google_translate_element');
            }
        </script>

        {% if 'meetings' in craft.app.request.segments(1) %}

        <!-- Leaflet JS -->
        <script src="/lib/js/leaflet.js"></script>
        <script src="/lib/js/leaflet-providers.js"></script>
        <script src="/lib/js/leaflet.smoothmarkerbouncing.js"></script>
        <script src="/lib/js/leaflet.ajax.min.js"></script>

        <!-- Google Sheets API -->
        <script src="https://apis.google.com/js/api.js"></script>

        <!-- Geolocation Plugin -->        
        <script src="/lib/js/esri-leaflet-v2.4.1.js"></script>
        <script src="/lib/js/esri-leaflet-geocoder-v2.3.3.js"></script>

        <!-- Meeting Map -->
        <script src="/src/js/meetings-map.js"></script>

        {% else %}

        <!-- NYC Core Javascript -->
        <script src="https://cdn.jsdelivr.net/gh/CityOfNewYork/nyc-core-framework@new-version/dist/js/nyc_core.js"></script>
    
        {% endif %}

    </body>

</html>