{% extends "_layouts/main" %}

{% block main %}

    <main class="tabs" id="skip-header-content">

        <div class="theme-primary padding-y-1 display-none">

            <div class="container text-align-center">
                <h1>
                    Alcholics Anonymous
                </h1>
            </div>
        </div>

        <div id="article">

            <div id="sidebar">

                <div class="sticky-top">
                    <ul class="nav nav--divider font-size-md">
                        <li class="theme-white">
                           <a href="#1"><strong>Alcholics Anonymous</strong></a>
                        </li>
                        <li>
                            <a href="#1">Mission Statement</a>
                        </li>
                        <li>
                            <a href="#1">Guidelines</a>
                        </li>
                        <li>
                            <a href="#1">By Laws</a>
                        </li>
                        <li>
                            <a href="#1">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="overflow-hidden border-left" id="primary-content">

                <div class="margin-y-5">
                
                    <div class="container narrow">

                        <h1>What is A.A.?</h1>

                        <p>
                            Alcoholics Anonymous (A.A.) is a fellowship of men and women who share their experience,
                            strength, and hope with each other that they may solve their common problem and help others to
                            recover from alcoholism.
                        </p>

                        <p>
                            The only requirement for membership is a desire to stop drinking. There are no dues or fees for
                            A.A. membership; we are self supporting through our own contributions.
                        </p>
                        
                        <p>
                            A.A. is not allied with any sect, denomination, politics, organization or institution; does not
                            wish to engage in any controversy, neither endorses nor opposes any causes. Our primary purpose
                            is to stay sober and help other alcoholics to achieve sobriety.
                        </p>

                    </div>
                    <!-- .container -->
                    
                    <hr class="margin-y-5">

                    <div class="container narrow">

                        <h3>The 12 Steps</h3>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui earum! Fugit, eum
                            suscipit corrupti fuga veritatis ratione exercitationem doloremque.
                        </p>

                        <h4 class="h6 text-primary">Step 1</h4>

                        <p>
                            <em>
                                We admitted we were powerless over alcohol—that our lives had become unmanageable.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 2</h4>

                        <p>
                            <em>
                                Came to believe that a Power greater than ourselves could restore us to sanity.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 3</h4>

                        <p>
                            <em>
                                Made a decision to turn our will and our lives over to the care of God as we understood Him.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 4</h4>

                        <p>
                            <em>
                                Made a searching and fearless moral inventory of ourselves.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 5</h4>

                        <p>
                            <em>
                                Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 6</h4>

                        <p>
                            <em>
                                Were entirely ready to have God remove all these defects of character.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 7</h4>

                        <p>
                            <em>
                                Humbly asked Him to remove our shortcomings.
                            </em>
                        </p>
                        
                        <h4 class="h6 text-primary">Step 8</h4>

                        <p>
                            <em>
                                Made a list of all persons we had harmed, and became willing to make amends to them all.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 9</h4>

                        <p>
                            <em>
                                Made direct amends to such people wherever possible, except when to do so would injure them or others.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 10</h4>

                        <p>
                            <em>
                                Continued to take personal inventory and when we were wrong promptly admitted it.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 11</h4>

                        <p>
                            <em>
                                Sought through prayer and meditation to improve our conscious contact with God, as we
                                understood Him, praying only for knowledge of His will for us and the power to carry
                                that out.
                            </em>
                        </p>

                        <h4 class="h6 text-primary">Step 12</h4>

                        <p>
                            <em>
                                Having had a spiritual awakening as the result of these Steps, we tried to carry this
                                message to alcoholics, and to practice these principles in all our affairs.
                            </em>
                        </p>

                    </div>
                    <!-- .container -->


                </div>


            </div>

        </div>

    </main>

{% endblock %}
