{% extends "_layouts/main" %}

{% block main %}

    <main id="skip-header-content" role="main">

        <section class="theme-primary">

            <div class="container medium text-align-center margin-y-5">

                <h1 class="banner-headline">
                    Get Help Now
                </h1>

                <div class="margin-y-4">

                    <div class="grid grid--gap-3 grid--cells-fill--md justify-content-center">

                        <div class="grid__cell">

                            <div class="card theme-white rounded box-shadow-3">

                                <div class="card__body">
                                    <h2 class="h5">Time to Quit?</h2>
                                    <p>
                                        If you can't stop drinking and need support, you are not alone. Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>

                                <div class="card__foot border-top">
                                    <a class="btn theme-secondary display-block rounded" href="#1">Find A Meeting</a>
                                </div>

                            </div>
                            <!-- .card -->

                        </div>
                        <!-- .grid__cell -->

                        <div class="grid__cell">

                            <div class="card theme-white rounded box-shadow-3">

                                <div class="card__body">
                                    <h2 class="h5">What is AA?</h2>
                                    <p>
                                        If you can't stop drinking and need help, you are not alone. Lorem ipsum dolor
                                        sit amet consectetur
                                        adipisicing elit.
                                    </p>
                                </div>

                                <div class="card__foot border-top">
                                    <a class="btn theme-secondary display-block rounded" href="#1">Learn About AA</a>
                                </div>
                            </div>
                            <!-- .card -->

                        </div>
                        <!-- .grid__cell -->

                    </div>
                    <!-- .grid -->

                </div>

            </div>
            <!-- .container -->

        </section>
        <!-- backdrop -->

    </main>

{% endblock %}
