{% extends "_layouts/main" %}

{% block main %}

    <main class="tabs" id="skip-header-content">

        <div class="theme-primary padding-y-2 padding-y-3--lg">

            <div class="text-align-center">

                <h1 class="screen-reader-only">Staten Island Meeting List</h1>

                <div class="container narrow font-size-md">
                    <ul class="nav nav--divider nav--horizontal border rounded">
                        <li>
                            <button aria-selected="true"
                                    aria-controls="map-view"
                                    id="tab-button-map-view"
                                    role="tab">
                                        Map
                            </button>
                        </li>
                        <li>
                            <button aria-selected="false"
                                    aria-controls="list-view"
                                    id="tab-button-list-view" role="tab">
                                        List
                            </button>
                        </li>
                        <li>
                            <a href="#1">Filter</a>
                        </li>
                    </ul>
                </div>

            </div>
            
        </div>

        <section class="tabs__panel shown" id="map-view" aria-labelledby="tab-button-map-view" role="tabpanel">

            <h2 class="screen-reader-only">Map view of Data</h2>

            <ul class="nav font-size-md" id="map-controls">

                <li>
                    <button class="btn btn--icon-only background-blur box-shadow-1" title="Zoom In" type="button" data-map-zoom-in>
                        <span class="screen-reader-only">Toggle</span>
                        <span class="fas fa-plus" aria-hidden="true"></span>
                    </button>
                </li>
                <li>
                    <button class="btn btn--icon-only background-blur box-shadow-1" title="Zoom Out" type="button" data-map-zoom-out>
                        <span class="screen-reader-only">Toggle</span>
                        <span class="fas fa-minus" aria-hidden="true"></span>
                    </button>
                </li>

            </ul>

            <div id="map-view__map">
                <div id="map-loader"></div>
            </div>

            <div class="theme-white box-shadow-3" id="map-view__sidebar">
                <div id="location-detail-toggle">
                    <button class="btn btn--icon-only theme-primary font-size-md box-shadow-1" title="Toggle Sidebar"
                        type="button" data-toggle-locations>
                        <span class="screen-reader-only">Toggle</span>
                        <span class="fas fa-info btn__icon" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="box-shadow-1" id="location-overview-loader"></div>
                <div id="location-detail-loader"></div>
            </div>

        </section>

        <section class="tabs__panel" id="list-view" aria-labelledby="tab-button-list-view" role="tabpanel">

            <div class="container narrow medium--md margin-y-4">

                <h2 class="screen-reader-only">All Meetings</h2>

                <div id="list-loader"></div>
            
            </div>

        </section>

    </main>

{% endblock %}
